html {
  scroll-behavior: smooth;
}

:root{
	--bg-color: #1a1818;
	--text-color: #ece7e1;
}

body {
  background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Ubuntu", sans-serif;
}
